/* font-family: 'Poppins', sans-serif; */
body{
font-family: 'Poppins', sans-serif;
}
.nav-link {
    display: block;
    color:#000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.nav-link:hover{
  color: #55558b;
}
.hero-section{
  background-color: #F0FFF0;
}
.hero-content h5{
    font-size: 16px;
    color: red;
    font-weight: 400;
    line-height: 24px;
  
}
.hero-content h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  
}
.hero-content span{
  color: #21B573;
}
.hero-content p{
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  
}
a.btn.btn-custom {
  color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    background: #21B573;
    padding: 10px 20px;
    border-radius: 50px;
}

.feature-content{
  width: 166px;
  height: 166px;
  background-color: #F8FFFB;
}
.feature-content h2{
  color: #413960;
  font-size: 24px;
  line-height: 36px;

}
.feature-content p{
  color: #585859;
  font-size: 16px;
  line-height: 24px;
}
.feature-content:hover{
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.courses-header h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    line-height: 54px;
}
.course-class h2{
  font-size: 24px;
  line-height: 36px;
  color: #413960;
}
.course-class h5{
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}
a.btn.btn-course{
  color: #F0FFF0;
  background-color: #21B573;
  padding: 2px 15px;
  border-radius: 50px;
}

.course-class ul {
    margin-top: 0px;
    margin-bottom: 1rem;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}
.course-class ul li{
  color: #585859;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
}

.course-class ul li i{
  margin-right: 10px;
}
.course-class{
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
.teacher {
    width: 55%;
    margin: auto;
}
.Testimonial p{
  font-size: 16px;
  line-height: 38px;
}
.footer{
  color: #F8FFFB;
background-color: #282531;
}
.footer p{
  font-size: 16px;
  line-height: 30px;
}
.footer ul li{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
}
.footer ul li:first-child{
  font-weight: 700;
}